site_name: georchestra-ldap-py
site_description: "Python wrapper for geOrchestra LDAP helper scripts"
theme:
  name: material
  language: en
  features:
    - navigation.expand
    - navigation.sections
    - content.code.copy
    - toc.integrate
nav:
  - Home: index.md
  - API:
      - Client: api/client.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: false
            show_root_heading: true
            heading_level: 2
            separate_signature: true
            filters: ["!^__"]
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
extra_css:
  - assets/styles/extra.css
